//
   Created by Administrator on 2017/6/7.

extends ../layout

block main
    block header
        .blog-masthead
            .container
                nav.blog-nav
                    a.blog-nav-item.active(href="#") Home
                    a.blog-nav-item(href="#") New features
                    a.blog-nav-item(href="#") Press
                    a.blog-nav-item(href="#") New hires
                    a.blog-nav-item(href="#") About

    block content

    block footer
        footer blog-footer
            p NodeBlog by wangshi jun@maizidu.com
            p
                a(href="#") Back to top