extends layout

block content
  h1= title
  p Welcome to #{title}
  div.alert.alert-danger this is a error message
  div.alert-success
    | this is a success message
    | this is a success message
    | this is a success message
    - var list=['wangshijun','maizi'];
    ul
      each value in list
          li=value

block scripts
  script $(document).ready(function () { console.log('dom ready'); });
